<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <a class="navbar-brand" href="/">
    <img src="/images/intellectual.svg" style="width:3rem; margin-right:1rem"> Mind Maker Upper </img>
  </a>
  <ul class="navbar-nav">
    <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
  </ul>
  <a href="/polls/new" class="btn btn-success" style="margin:auto 0 auto auto">New Poll</a>
</nav>
