<nav class="navbar navbar-expand-sm navbar-dark bg-primary">
  <a class="navbar-brand" href="/">
    <img src="/images/intellectual.svg" style="width:3rem; margin-right:1rem"> Mind Maker Upper </img>
  </a>
  <a href="/polls/new" class="btn btn-success" style="margin:auto 0 auto auto">New Poll</a>
</nav>
