<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Error Page</title>
    <% include ./partials/_head.ejs %>
    <style>
      @media all and (max-width: 500px) {
        body {
          width: 500px;
        }
      }
    </style>
  </head>
  <header>
    <% include ./partials/_nav.ejs %>
  </header>

  <body>
    <div class="jumbotron" style="margin: 5%; text-align: center">
      <h2>We're sorry!</h2><br>
      <span>There was an error. Here's what happened:</span><br>
      <span>Code <%= errorCode %>: <%= errorMessage %></span>
    </div>
  </body>
</html>
