<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>
  <header>
    <% include ../public/partials/_nav.ejs %>
  </header>

  <body>
    <h1>Hello World!</h1>
    <div class="container">
      <h1>WELCOME</h1>
      <h2>The Mind Maker Upper Will Make Up Your Mind!</h2>
      <button class="btn" action="/polls/new">New Poll</button>
    </div>
  </body>
</html>
