<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Thanks!</title>
    <% include ./partials/_head.ejs %>
    <style>
      @media all and (max-width: 500px) {
        body {
          width: 500px;
        }
      }
      blockquote {
        margin-top: 5rem;
      }
    </style>
  </head>
  <header>
    <% include ./partials/_nav.ejs %>
  </header>

  <body>
    <div class="jumbotron" style="margin: 5%; text-align: center">
      <h2>Thanks for voting!</h2><br>
      <p>Your vote has been submitted.</p>
      <p><%= creator_name %> will receive an e-mail letting them know</p>
      <p>Go ahead, make your own poll! Just click the button in the top right corner!</p>
      <blockquote class="blockquote">
        <p class="mb-0">"Simple it's not, I'm afraid you will find, for a mind maker-upper to make up his mind"</p>
        <footer class="blockquote-footer">Dr. Seuss, <cite title="Source Title">Oh the Places You'll Go!</cite></footer>
      </blockquote>
    </div>
  </body>
</html>
