<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ./partials/_head.ejs %>
  </head>

  <header>
    <% include ./partials/_nav.ejs %>
  </header>

  <body>
    <h1>Vote Here</h1>
    <div class="container">
      <h1>Vote for the options here</h1>
      <%= poll.id %>
      <%= poll.text %>
      <%= poll.creator_email %>
    </div>
  </body>
</html>
